.titulo{
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.parrafo{
    font-family: 'Times New Roman', Times, serif;
    background-color: brown;
    color: antiquewhite;
}